[submodule "/User/mikiakira/dotfiles/.vim/neobundle/neobundle.vim"]
	path = .vim/neobundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "/User/mikiakira/dotfiles/.zsh/antigen"]
	path = .zsh/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "/Users/mikiakira/dotfiles/.zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/discolors-solarized"]
	path = .zsh/discolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
