[submodule "themes/solarized"]
	path = themes/solarized
	url = git@github.com:altercation/solarized.git
[submodule "zsh/dircolors-solarized"]
	path = zsh/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
