[color]
  ui = true
[alias]
  co = checkout
  st = status --short --branch
  br = branch
  ci = commit
  lo = log --graph --decorate --oneline
[grep]
  lineNumber = true
[core]
  excludesfile = /opt/boxen/config/git/gitignore
[include]
  path = .gitconfig.local

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[hub]
protocol = https
