[color]
  ui = true
[alias]
  br = branch
  branch-root = merge-base master HEAD
  ci = commit
  co = checkout
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  lo = log --graph --decorate --oneline
  pr = pull-request
  review = !tig --reverse -w $(git branch-root)..HEAD
  show = !tig show --pretty=fuller
  st = status --short --branch
[grep]
  lineNumber = true
[core]
  attributesfile = $HOME/.gitattributes
  excludesfile = $HOME/.gitignore_global

[remote "origin"]
  fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[include]
  path = .gitconfig.local

[hub]
  protocol = https

[tig "bind"]
  main = B @hub browse -- commit/%(commit)
  diff = B @hub browse -- commit/%(commit)
  tree = B @hub browse -- tree/%(commit)/%(directory)
  blob = B @hub browse -- tree/%(commit)/%(file)
[branch]
  autosetuprebase = always
[ghq]
  root = /Users/ae06710/src
[diff "sheetjs"]
  textconv = j

# driver for merging XCode project files
[merge "mergepbx"]
  name = XCode project files merger
  driver = mergepbx %O %A %B

[init]
  templatedir = ~/.git_template
[secrets]
  providers = git secrets --aws-provider
  patterns = [A-Z0-9]{20}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
[merge]
  ff = false
